<div id="event-query">

  <%= form_tag '/' %>
    <p>
      <%= label_tag :condition_query %>
      <%= text_field_tag :condition_query, params[:condition_query] %>
      <%= submit_tag :search %>
      <%= label_tag :therapy_query %>
      <%= text_field_tag :therapy_query, params[:therapy_query] %>
      <%= submit_tag :search %>
    </p>

</div>
