<div class="query-nav-bar" >
  <ul style="list-style-none">
    <li><a href="#" class="auto-mark menu-item">Mark All Events</a></li>
    <li style="color: #f89022">|</li>
    <li><a href="#" class="clear-markers menu-item">Clear Marks</a></li>
    <li style="color: #f89022">|</li>
    <li><a href="#" class="menu-item" id="select-outbreak"><span id="createq">Create a Query</span><span id="hideq" style="display:none">Hide Query Fields</span></a></li>
    <li style="color: #f89022">|</li>
    <li><a href="/" class="menu-item">Reset Query</a></li>
    <li style="color: #f89022">|</li>
    <li><a class="menu-item" id="graph-trigger"><span id="createg">See Graph</span><span id="hideg" style="display:none">Hide Graph</span></a></li>
    <% if @user %>
    <li style="color: #f89022">|</li>
    <li><a href="#" class="menu-item" data-toggle="collapse" data-target="#query-records">Saved Queries</a></li>
    <% end %>
  </ul>
</div>

<!-- <div id="outbreak-query-box" class="query-form" style="display: none"  >
  <%#= form_tag query_path, method:"get" do %> -->


<% if @user %>
  <div class="collapse col-xs-12" id="query-records" >
    <% if @user.query_records.length > 0 %>
      <table class="table table-hover table-condensed col-sm-10 col-sm-1-offset">
        <tr>
          <th>Date of Query</th> <th>Outbreak</th> <th>Disease</th> <th>Location</th> <th>Start Date</th> <th>End Date</th> <th>Options</th>
        </tr>
        <% @user.query_records.sort_by{ |qr| qr.created_at }.reverse.each do |qr| %>
          <tr class="query-record-link <%= "high-light-row" if qr.id == session[:query_id] %>">
            <td> <%= qr.created_at.strftime("%b %d, %Y") %> </td>
            <td> <%= Outbreak.find(qr.outbreak_id).title %> </td>
            <td> <%= MedicalCondition.find(qr.disease_id).name %> </td>
            <td> <%= Place.find(qr.place_id).name %> </td>
            <td> <%= qr.start_date.strftime("%m-%d-%Y") if qr.start_date %> </td>
            <td> <%= qr.end_date.strftime("%m-%d-%Y") if qr.end_date %> </td>
            <td>
              <a href="http://localhost:3000/query?utf8=%E2%9C%93&outbreak_id=<%= qr.outbreak_id.to_s %>&disease_id=<%= qr.disease_id.to_s %>&place_id=<%= qr.place_id.to_s %>&start_date=<%= qr.start_date.to_s %>&end_date=<%= qr.end_date.to_s %>&commit=<%= qr.id %>#">View Query</a> |
              <a href="#" id="delete-query-record", data-url= <%= "/query_records/#{qr.id}" %> >Delete Query</a>
            </td>
          </tr>
        <% end %>
      </table>
    <% else %>
      You have saved no query records.
    <% end %>
  </div>
<% end %>

<div id="outbreak-query-box" class="query-form col-xs-12" >
  <%= form_tag query_path, method:"get", id: "query-form" do %>



  <ul>
    <li>
      <select id="outbreak-choices" name="outbreak_id">
        <option class="outbreak-selection" value="0" >Choose All Outbreaks</option>
        <% @outbreaks.each do |id| %>
          <option class="outbreak-selection" value="<%= id %>"> <%= Outbreak.find(id).title %> </option>
        <% end %>
      </select>
    </li>
    <li>
      <select id="disease-choices" name="disease_id">
        <option class="disease-option" value="0" >Choose All Medical Conditions</option>
        <% @diseases.each do |id| %>
          <option class="disease-option" value="<%= id %>" > <%= MedicalCondition.find(id).name %> </option>
        <% end %>
      </select>
    </li>
    <li>
      <select id="place-choices" name="place_id">
        <option class="place-selection" value="0" >Choose All States and Regions </option>
        <% @places.each do |id| %>
          <option class="place-selection" value="<%= id %>"> <%= Place.find(id).name %> </option>
        <% end %>
      </select>
    </li>
    <li>
      <input type="text" name="start_date" placeholder="Start Date ....."  id="startdatepicker">&nbspTo&nbsp
      <input type="text" name="end_date" placeholder="..... End Date" id="enddatepicker"></p>
    </li>
    <li>
    <%= submit_tag "Submit New Query", class: "submit-query"%>
  </li>
  <% end %>


    <% if @user %>
    <li>
      <a href="#" class="btn btn-default" id="save-query-record", data-url="/query_records">Save New Query Record</a>
    </li>
    <% end %>
    <% if session[:query_id] %>
      <li>
        <a href="#" class="btn btn-default" id="update-query-record", data-url= <%= "/query_records/#{session[:query_id]}" %> >Update Query Record</a>
      </li>
    <% end %>
  </ul>
</div>
