<h1>Tracking Disease in Africa</h1>

<div id="disease-list" class="basic-block">
  <h2>Medical Conditions</h2>
  <div class="scrolling-list">
    <ol>
      <% @conditions.each do |condition| %>
        <li> <strong><%= condition.name %></strong> <br>
          Codes: <br>
          <ul>
            <li>
              <% condition.codes.each do |code| %>
                <% if code.code_system == "image" %>
                  <li><img src="<%= code.code_value %>" width="100px" height="100px" alt="" />
                  </li>
                <% else %>
                  <%= code.code_system %>: <%= code.code_value %>
                <% end %>
              <% end %>
            </li>
          </ul>
        </li>
      <% end %>
    </ol>
  </div>
</div>

<div id="drug-list" class="basic-block">
  <h2>Drug Therapies</h2>
  <div class="scrolling-list">
    <ol>
      <% @therapies.each do |therapy| %>
      <li>
        <strong><%= therapy.name %></strong>: <%= therapy.description %>
      </li>
      <% end %>
    </ol>
  </div>
</div>
