<!DOCTYPE html>
<html>
<head>
  <title>AdaCapstoneProject</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key="+ENV[GMAPS_KEY]>
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">


</head>
<body>
  <header>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">

        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-login">
        <span class="icon-bar">Log in</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </a>
        <a class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-signup">
        <span class="icon-bar">Sign up</span>
        </a>

        <!-- Be sure to leave the brand out there if you want it shown -->
        <a class="logo" href="/"><span>Disease Tracks</span></a>

        <!-- Everything you want hidden at 940px or less, place within here -->
        <span class="nav-form">
          <div class="nav-collapse collapse" id="nav-collapse-login">
            <%= form_tag sessions_path, method: :post do %>
              <div class="col-xs-12 col-sm-5 col-sm-offset-2">
                <%= label_tag :email, "Email: " %> <br>
                <%= email_field_tag :email %>
              </div>
              <div class="col-xs-12 col-sm-5">
                <%= label_tag :password, "Password: " %> <br>
                <%= password_field_tag :password %>
                <div class="col-xs-12 col-sm-6 col-sm-offset-4">
                  <%= submit_tag "Sign In", class: "submit-btn" %>
                </div>
              </div>
            <% end %>
          <!-- .nav, .navbar-search, .navbar-form, etc -->
          </div>
        </span>
        <span class="nav-form">
          <div class="nav-collapse collapse" id="nav-collapse-signup">
            <%= form_for User.new do |f| %>
              <div class="col-xs-12 col-sm-3">
                <%= f.label "Name" %><br>
                <%= f.text_field :name %>
              </div>
              <div class="col-xs-12 col-sm-3">
                <%= f.label "email" %><br>
                <%= f.email_field :email %>
              </div>
              <div class="col-xs-12 col-sm-3">
                <%= f.label "Password" %><br>
                <%= f.password_field :password%>
              </div>
              <div class="col-xs-12 col-sm-3">
                <%= f.label "Confirm Password"%><br>
                <%= f.password_field :password_confirmation%><br>
                <div class="col-sm-4 col-sm-offset-5">
                  <%= f.submit "Sign Up", class: "submit-btn"%>
                </div>
              </div>
              <!-- <div class="col-sm-11"></div>
              <div class="btn submit-btn col-xs-1 col-sm-1"><%= f.submit "Sign Up"%></div> -->
            <% end %>
          </div>
        </span>
      </div>
    </div>







    <!-- <div class="header-bar">
      <span class="menu-buttons">
        <% if session[:user_id] %>
          <%=link_to "Log Out", "/sessions/1", method: :delete, class: "btn btn-primary btn-xs" %>
        <% else %>
          <!-- Button trigger sign-in modal -->
          <!-- <button class="btn" type="button">
            Log In<i class="icon-align-justify"></i>
          </button> -->
          <!-- <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#mySignInModal">
            Sign in
          </button>
          <!-- Button trigger modal -->
          <!-- <button type="button" class="btn dropdown-toggle btn-xs" data-toggle="modal" data-target="#mySignUpModal">
            Sign up
          </button> -->
        <!-- <% end %> -->
      <!-- </span>
    </div> -->
    <!-- <div class="logo">
      <h2>Disease Tracks</h2>
    </div> -->

    <!-- <#%= render partial: "shared/modals" %> -->


  </header>

<%= yield %>

</body>
</html>
