<!DOCTYPE html>
<html>
<head>
  <title>AdaCapstoneProject</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key="+ENV[GMAPS_KEY]>
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        $(".location-marker").each(function(){

        });
        var data = google.visualization.arrayToDataTable([
          ['Age', 'Weight'],
          [ 8,      12],
          [ 4,      5.5],
          [ 11,     14],
          [ 4,      5],
          [ 3,      3.5],
          [ 6.5,    7]
        ]);

        var options = {
          title: 'Age vs. Weight comparison',
          hAxis: {title: 'Age', minValue: 0, maxValue: 15},
          vAxis: {title: 'Weight', minValue: 0, maxValue: 15},
          legend: 'none'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }


        // var options = {
        //   chart: {
        //     title: 'Box Office Earnings in First Two Weeks of Opening',
        //     subtitle: 'in millions of dollars (USD)'
        //   },
        //   width: 500,
        //   height: 350
        // };
    </script>

  <!-- <link href="assets/css/bootstrap-responsive.css" rel="stylesheet"> -->

</head>

<body>
  <header>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">

        <!-- Be sure to leave the brand out there if you want it shown -->
        <a class="logo" href="/"><span>Disease Tracks</span></a>

        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <% if session[:user_id] == nil %>
          <a class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-login">
            <span class="icon-bar">Log in</span>
          </a>
          <a class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-signup">
            <span class="icon-bar">Sign up</span>
          </a>

          <!-- Everything you want hidden at 940px or less, place within here -->
          <span class="nav-form">
            <div class="nav-collapse collapse" id="nav-collapse-login">
              <%= form_tag sessions_path, method: :post do %>
                <div class="col-xs-12 col-sm-5 col-sm-offset-2">
                  <%= label_tag :email, "Email: " %> <br>
                  <%= email_field_tag :email %>
                </div>
                <div class="col-xs-12 col-sm-5">
                  <%= label_tag :password, "Password: " %> <br>
                  <%= password_field_tag :password %>
                  <div class="col-xs-12 col-sm-6 col-sm-offset-4">
                    <%= submit_tag "Sign In", class: "submit-btn" %>
                  </div>
                </div>
              <% end %>
            <!-- .nav, .navbar-search, .navbar-form, etc -->
            </div>
          </span>
          <span class="nav-form">
            <div class="nav-collapse collapse" id="nav-collapse-signup">
              <%= form_for User.new do |f| %>
                <div class="col-xs-12 col-sm-3">
                  <%= f.label "Name" %><br>
                  <%= f.text_field :name %>
                </div>
                <div class="col-xs-12 col-sm-3">
                  <%= f.label "email" %><br>
                  <%= f.email_field :email %>
                </div>
                <div class="col-xs-12 col-sm-3">
                  <%= f.label "Password" %><br>
                  <%= f.password_field :password%>
                </div>
                <div class="col-xs-12 col-sm-3">
                  <%= f.label "Confirm Password"%><br>
                  <%= f.password_field :password_confirmation%><br>
                  <div class="col-sm-4 col-sm-offset-5">
                    <%= f.submit "Sign Up", class: "submit-btn"%>
                  </div>
                </div>
                <!-- <div class="col-sm-11"></div>
                <div class="btn submit-btn col-xs-1 col-sm-1"><%= f.submit "Sign Up"%></div> -->
              <% end %>
            </div>
          </span>
        <% else %>
          <%=link_to "Log Out", "/sessions/1", method: :delete, class: "btn btn-navbar" %>
          <a class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-profile">
            <span class="icon-bar">Profile</span>
          </a>
          <span class="nav-form">
            <div class="nav-collapse collapse" id="nav-collapse-profile">
                <%= form_for(@user, method: :patch) do |f| %>
                  <div class="col-xs-12 col-sm-3">
                    <%= f.label "Name" %><br>
                    <%= f.text_field :name %>
                  </div>
                  <div class="col-xs-12 col-sm-3">
                    <%= f.label "email" %><br>
                    <%= f.email_field :email %>
                  </div>
                  <div class="col-xs-12 col-sm-3">
                    <%= f.label "New Password" %> <br>
                    <%= f.password_field :password %>
                  </div>
                  <div class="col-xs-12 col-sm-3">
                    <%= f.label "Confirm Password" %> <br>
                    <%= f.password_field :password_confirmation %> <br>
                    <div class="col-sm-4 col-sm-offset-2">
                      <%= f.submit "Save changes", class: "submit-btn" %>
                    </div>
                  </div>
                <% end %>
              <!-- .nav, .navbar-search, .navbar-form, etc -->
            </div>
          </span>
        <% end %>
      </div>
    </div>
    <!-- <div id="linechart_material"></div> -->
  </header>

  <%= yield %>

</body>
</html>
