<!DOCTYPE html>
<html>
<head>
  <title>AdaCapstoneProject</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key="+ENV[GMAPS_KEY]>
  </script>


</head>
<body>
  <header>

    <%= render partial: "shared/modals" %>


    <% if session[:user_id] %>
      <%=link_to "Log Out", "/sessions/1", method: :delete, class: "btn btn-primary btn-xs" %>
    <% else %>
      <!-- Button trigger sign-in modal -->
      <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#mySignInModal">
        Sign in
      </button>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#mySignUpModal">
        Sign up
      </button>
    <% end %>
  </header>

<%= yield %>

</body>
</html>
